<html>
<head>
    <title>View Profile</title>
    <link rel="stylesheet" type="text/css" href="../asset/auth.css">
</head>
<body>
    <h1>My Profile</h1>
    <form>
        <fieldset>
            <img src="../asset/img/a.jpg" alt="Profile Picture" id="profilePic" width="100" height="100"><br><br>
            <strong>Name:</strong> Apurbo Biswas<br><br>
            <strong>Email:</strong> apurbobiswas32@gmail.com
        </fieldset>
        <fieldset>
            <input type="button" value="Edit Profile" onclick="window.location.href='edit_profile.html'" />
            <input type="button" value="Update Password" onclick="window.location.href='update_password.html'" />
            <input type="button" value="Back to Dashboard" onclick="window.location.href='user_dashboard.html'" />
        </fieldset>
    </form>
</body>
</html>
