<html>
<head>
    <title>Update Password</title>
    <link rel="stylesheet" type="text/css" href="auth.css">
</head>
<body>
    <h1>Update Password</h1>
    <form method="post" action="" onsubmit="return updatePasswordCheck()">
        <fieldset>
            Old Password:
            <input type="password" id="oldPass">
            <p id="oldError" class="error-msg"></p>
            New Password:
            <input type="password" id="newPass">
            <p id="newError" class="error-msg"></p>
            <input type="submit" value="Update Password">
            <p id="updateSuccess"></p>
            <input type="button" value="Back to Dashboard" onclick="window.location.href='user_dashboard.html'" />
        </fieldset>
    </form>
    <script>
        function updatePasswordCheck() {
            let oldPass = document.getElementById('oldPass').value;
            let newPass = document.getElementById('newPass').value;
            let valid = true;
            document.getElementById('oldError').innerHTML = "";
            document.getElementById('newError').innerHTML = "";
            document.getElementById('updateSuccess').innerHTML = "";

            if (oldPass === "") {
                document.getElementById('oldError').innerHTML = "Enter old password!";
                valid = false;
            }
            if (newPass === "") {
                document.getElementById('newError').innerHTML = "Enter new password!";
                valid = false;
            }
            if (oldPass !== "" && newPass !== "" && oldPass === newPass) {
                document.getElementById('newError').innerHTML = "New password must be different from old password!";
                valid = false;
            }

            if (valid) {
                document.getElementById('updateSuccess').innerHTML = "Password updated successfully!";
                document.getElementById('oldPass').value = "";
                document.getElementById('newPass').value = "";
                return false;
            }
            return false;
        }
    </script>
</body>
</html>
